---
layout: default
---

<h1>{{ page.category | capitalize }}</h1>

<ul>

{% assign subcategories = "" | split: "" %}

{% for post in site.categories[page.category] %}

  {% if post.categories and post.categories.size > 1 %}

    {% assign sub = post.categories[1] %}

    {% if sub %}
      {% unless subcategories contains sub %}
        {% assign subcategories = subcategories | push: sub %}
      {% endunless %}
    {% endif %}

  {% endif %}

{% endfor %}

{% assign sorted_subcategories = subcategories | uniq | sort %}

{% for sub in sorted_subcategories %}

<li>
  <a href="{{ '/' | append: page.category | append: '/' | append: sub | append: '/' | relative_url }}">
    {{ sub | capitalize }}
  </a>
</li>

{% endfor %}

</ul>