---
layout: default
---

<h1>{{ page.category | capitalize }}</h1>

<ul>

    {% assign subcategories = "" | split: "" %}

    {% for post in site.categories[page.category] %}

    {% if post.categories.size > 1 %}

    {% assign sub = post.categories[1] %}

    {% unless subcategories contains sub %}
    {% assign subcategories = subcategories | push: sub %}
    {% endunless %}

    {% endif %}

    {% endfor %}

    {% for sub in subcategories | sort %}

    <li>
        <a href="{{ '/' | append: page.category | append: '/' | append: sub | append: '/' | relative_url }}">
            {{ sub | capitalize }}
        </a>
    </li>

    {% endfor %}

</ul>